!  Font
URxvt*font: xft:Determination Mono:style=Regular:size=10
URxvt*boldFont: xft:Determination Mono:style=Regular:size=10

URxvt.boldMode: false
URxvt*colorBDMode: true
URxvt*letterSpace:	-1

Xft.dpi:	95
Xft.antialias:	false

!  Xft.rgba:	rgb
!  Xft.hinting:	true
!  Xft.hintstyle:	hintslight
!  Xft.autohint:	false !  Xft.lcdfilter:	lcddefault

!  URxvt Resize Font
!  URxvt.perl-ext-common:	 resize-font
!  URxvt.keysym.C-minus:	 resize-font:smaller
!  URxvt.keysym.C-plus:	 resize-font:bigger
!  URxvt.keysym.C-equal:	 resize-font:reset
!  URxvt.keysym.C-question: resize-font:show

URxvt.scrollBar: false

!  urxvt*transparent: true
!  urxvt*shading: 50
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/9000

!  Every shell is a login shell
xterm*loginShell: true

xterm*vt100*geometry: 80x50

!  Scrollback
xterm*saveLines: 2000
URxvt.saveLines: 16834

xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48

xterm*termName: xterm-color
xterm*eightBitInput: false

!  Colors
!  Text (Normal, Normal, Cursor)
!  Black (Cursor)
!  Red (Tag)
!  Green (Special Key)
!  Yellow (Keyword)
!  Blue (Number)
!  Magenta (Precondit)
!  Cyan (Float)
!  White (Search)
!  FMT(?) (Include, StatusLine, ErrorMsg)


!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! special
*.foreground:   #b8b8b8
*.background:   #000000
*.cursorColor:  #b8b8b8

! black
*.color0:       #000000
*.color8:       #6c6c6c

! red
*.color1:       #199c5e
*.color9:       #47a373

! green
*.color2:       #00a088
*.color10:      #2e867b

! yellow
*.color3:       #00a0b6
*.color11:      #2a7f8e

! blue
*.color4:       #0b2055
*.color12:      #1d294b

! magenta
*.color5:       #d23669
*.color13:      #f07e99

! cyan
*.color6:       #900849
*.color14:      #933f61

! white
*.color7:       #c4b6b5
*.color15:      #ffffff

!!!!!!!!!!!!!!!!!!!!!!!!!!!!
